[Unit]
Description=TANC Serial to MQTT Gateway
After=multi-user.target

[Service]
Type=idle
User=pi
Group=users
WorkingDirectory=/opt/tanc/
ExecStart=/usr/bin/php /opt/tanc/bin/serial-mqtt-gateway.php
Restart=on-failure

[Install]
WantedBy=multi-user.target
