Package: tanc-serial-comm
Version: 0.1
Maintainer: Mark Kimsal <mark@igotaprinter.com>
Priority: optional
Build-Depends: devscripts (>= 2)
Architecture: all
Depends: beanstalkd, php7.0-cli
Description: TANC serial communication
